In [1]:
import pandas as pd

In [2]:
wholedata = pd.read_csv("HappinessOnlineData_SHJ.csv")
wholedata.head()

,Country,Year,Happiness Score,Log GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620

In [3]:
wholedata.count()

Country                         1704
Year                            1704
Happiness Score                 1704
Log GDP per capita              1676
Social support                  1691
Life expectancy                 1676
Freedom to make life choices    1675
Generosity                      1622
Perceptions of corruption       1608
dtype: int64

In [4]:
wholedata.dtypes

Country                          object
Year                              int64
Happiness Score                 float64
Log GDP per capita              float64
Social support                  float64
Life expectancy                 float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [5]:
newdata = wholedata.loc[wholedata["Year"]==2018]
newdata.head()

,Country,Year,Happiness Score,Log GDP per capita,Social support,Life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
10,Afghanistan,2018,2.694303,7.494588,0.507516,52.599998,0.373536,-0.084888,0.927606
21,Albania,2018,5.004403,9.412399,0.683592,68.699997,0.824212,0.005385,0.899129
28,Algeria,2018,5.043086,9.557952,0.798651,65.900002,0.583381,-0.172413,0.758704
45,Argentina,2018,5.792797,9.809972,0.899912,68.800003,0.845895,-0.206937,0.855255
58,Armenia,2018,5.062449,9.119424,0.814449,66.900002,0.807644,-0.149109,0.676826